@charset "utf-8";



@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

html {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background: #f7f7f7;
}

#container {
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0;
}


.tabs {
    margin-top: 2rem;
}

/* TAB LIST */
.tabs ul[role="tablist"] {
    display: flex;
    gap: 0.5rem;
    padding: 0;
    margin: 0 0 1rem 0;
    list-style: none;
    border-bottom: 2px solid #ccc;
}

.tabs ul[role="tablist"] li[role="tab"] {
    margin: 0;
}

.tabs ul[role="tablist"] li[role="tab"] a {
    display: block;
    padding: 0.6rem 1rem;
    text-decoration: none;
    color: #444;